.site-footer { display: none; }

.highlight { line-height: 1; }

blockquote {
    border-left: 0.25em solid #15303F;
    padding: 0 1em;
    margin: auto;
}

h3.d-inline-block + p.label {
    margin-bottom: 0.25em;
}